<div style="width: 600px; text-align: center; font-family: Figtree,sans-serif">
  <br />
  <br />
  <h2 style="color: #161616">Confirm Addition of External Account to Your Account</h2>
  <br />

  <div>
    <p
      style="font-size: 16px; color: #161616; line-height: 1.5; text-indent: 1.5em; text-align: justify; margin: 10px 20px; ">
    We appreciate your interest in our platform and are excited that you are considering adding a third-party account to
    your existing user profile. We value your commitment to becoming a part of our vibrant community.
    <p
      style="font-size: 16px; color: #161616; line-height: 1.5; text-align: justify; text-indent: 1.5em; margin: 10px 20px;">
      In order to finalize the registration process, we kindly ask you to click on the button provided below. This will
      redirect you to our website, where you will be able to seamlessly integrate your external account with your
      current credentials.
    <p
      style="font-size: 16px; color: #161616; line-height: 1.5; text-align: justify; text-indent: 1.5em; margin: 10px 20px;">
      Rest assured, the registration process is quick and straightforward, requiring only a few moments of your time.
    <p
      style="font-size: 16px; color: #161616; line-height: 1.5; text-align: justify; text-indent: 1.5em; margin: 10px 20px;">
      Should you have any questions or require any assistance throughout the process, please feel free to reach out to
      our dedicated support team at support@Inctagram.com. We are always here to help you.
    <p
      style="font-size: 16px; color: #161616; line-height: 1.5; text-align: justify; text-indent: 1.5em; margin: 10px 20px;">
      Thank you for choosing to be a part of our inclusive community. We eagerly anticipate your presence on our website
      and the valuable contributions you will bring.


    </p>
    <br />
    <br />

    <div class="button-container">
      <a href="{{url}}"
         class="button-link"
      >Dare to Make Your Life Brighter</a>
    </div>
  </div>
  <style>
      .button-link {
          background-color: #397DF6;
          color: #ffffff;
          border: 0;
          padding: 10px 20px;
          border-radius: 8px;
          font-size: 24px;
          margin: 15px;
          text-decoration: none;
      }

      .button-link:hover {
          background-color: #2f3fb0;
      }

      .img-container img {
          width: 500px;
          border-radius: 13px;
          filter: grayscale(100%);
          transition: filter 0.3s ease;
      }

      .img-container:hover img {
          filter: grayscale(0%);
      }

      html:hover .img-container img {
          filter: grayscale(0%);
      }

      html:hover {
          filter: grayscale(0%);
      }
  </style>
  <br />
  <hr />
  <br />
  <div class="img-container">
    <img src="https://nest-public-avatar.s3.eu-central-1.amazonaws.com/Screenshot+2023-05-05+at+09.47.43.png"
         alt="inctagram">
  </div>
</div>