<div style="width: 600px; text-align: center; font-family: Figtree,sans-serif">
  <br />
  <br />
  <h2 style="color: #161616">Verify your email address</h2>
  <br />

  <div>
    <p
      style="font-size: 16px; color: #161616; line-height: 1.5; text-indent: 1.5em; text-align: justify; margin: 10px 20px; ">
      Thank you for your interest in our website! We are thrilled that you are considering joining our community.
      To complete your registration, please click the button below. It will redirect you to our website where you can
      create your account.
      The registration process only takes a minute.
    <p
      style="font-size: 16px; color: #161616; line-height: 1.5; text-align: justify; text-indent: 1.5em; margin: 10px 20px;">
      If you have any questions or need assistance, please do not hesitate to contact us at support@Inctagram.com.
      Our team is always available to help!
      Thank you for choosing to be a part of our community. We look forward to seeing you on our website!
      Best regards,
    </p>
    <br />
    <br />

    <div class="button-container">
      <a href="{{url}}"
         class="button-link"
      >Dare to Make Your Life Brighter</a>
    </div>
  </div>
  <style>
      .button-link {
          background-color: #397DF6;
          color: #ffffff;
          border: 0;
          padding: 10px 20px;
          border-radius: 8px;
          font-size: 24px;
          margin: 15px;
          text-decoration: none;
      }

      .button-link:hover {
          background-color: #2f3fb0;
      }

      .img-container img {
          width: 500px;
          border-radius: 13px;
          filter: grayscale(100%);
          transition: filter 0.3s ease;
      }

      .img-container:hover img {
          filter: grayscale(0%);
      }

      html:hover .img-container img {
          filter: grayscale(0%);
      }

      html:hover {
          filter: grayscale(0%);
      }
  </style>
  <br />
  <hr />
  <br />
  <div class="img-container">
    <img  src="https://nest-public-avatar.s3.eu-central-1.amazonaws.com/Screenshot+2023-05-05+at+09.47.43.png"
         alt="inctagram">
  </div>
</div>