
<div style="width: 600px; text-align: center; font-family: Figtree,sans-serif">
    <br/>
    <br/>
    <h2 style="color: #161616">Verify your email address</h2>
    <br/>

    <div>
        <p style="font-size: 16px; color: #161616">
            Thanks for joining. Please click the button below and set up your account. It takes less than a minute.
        </p>
        <br/>
        <br/>

        <div>
            <a href="{{url}}"
               style="background-color: #397DF6; color: #ffffff; border: 0;
                           padding: 10px 20px; border-radius: 8px; font-size: 24px; margin: 15px;
                           text-decoration: none;
                           "
            >Set up your account</a>
        </div>
    </div>
    <br/>
    <br/>
    <div>
        <img style="width: 600px"
             src='https://nest-public-avatar.s3.eu-central-1.amazonaws.com/audit-g2e5a4a6f9_1280.jpg'
             alt="inctagram">
    </div>
</div>