
<div style="width: 600px; text-align: center; font-family: Figtree,sans-serif">
    <br/>
    <br/>
    <h2 style="color: #161616">Welcome to Inctagram: Your Registration is Complete!</h2>
    <br/>

    <div>
        <p style="font-size: 16px; color: #161616">
            Congratulations on completing your registration on our website! We are excited to have you as a member of our community.

            Please click on the button below. This will take you to our website where you can create your account.
            It takes less than a minute.

            If you have any questions or concerns, please do not hesitate to contact us at support@Inctagram.com.

            Our team is always happy to help!

            Thank you for choosing to be a part of our community. We look forward to seeing you on our website!

            Best regards,
        </p>
        <br/>
        <br/>

        <div>
            <a href="{{url}}"
               style="background-color: #397DF6; color: #ffffff; border: 0;
                           padding: 10px 20px; border-radius: 8px; font-size: 24px; margin: 15px;
                           text-decoration: none;
                           "
            >Set up your account</a>
        </div>
    </div>
    <br/>
    <br/>
    <div>
        <img style="width: 600px"
             src='https://nest-public-avatar.s3.eu-central-1.amazonaws.com/Screenshot+2023-05-05+at+09.47.43.png'
             alt="inctagram">
    </div>
</div>