
<div style="width: 600px; text-align: center; font-family: Figtree,sans-serif">
    <br/>
    <br/>
    <h2 style="color: #161616">Password recovery</h2>
    <br/>

    <div>
        <p style="font-size: 16px; color: #161616">
            To reset your password please follow the link below:
        </p>
        <br/>
        <br/>

        <div>
            <a href="{{url}}"
               style="background-color: #397DF6; color: #ffffff; border: 0;
                           padding: 10px 20px; border-radius: 8px; font-size: 24px; margin: 15px;
                           text-decoration: none;
                           "
            >Create new password</a>
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <div>
        <img style="width: 600px"
             src='https://nest-public-avatar.s3.eu-central-1.amazonaws.com/Screenshot+2023-04-14+at+18.55.50.png'
             alt="inctagram">
    </div>
</div>