<div style="width: 600px; text-align: center; font-family: Figtree,sans-serif">
  <br />
  <br />
  <h2 style="color: #161616">Password recovery</h2>
  <br />

  <div>
    <p
      style="font-size: 16px; color: #161616; line-height: 1.5; text-indent: 1.5em; text-align: justify; margin: 10px 20px; ">
      We have received a request regarding the password recovery for your account. We understand how frustrating it can
      be to forget your password, but worry not, as we are here to help you regain access to your account.
    </p>
    <br />
    <br />

    <div>
      <a href="{{url}}"
         class="button-link"
      >Create new password</a>
    </div>
  </div>
  <style>
      .button-link {
          background-color: #397DF6;
          color: #ffffff;
          border: 0;
          padding: 10px 20px;
          border-radius: 8px;
          font-size: 24px;
          margin: 15px;
          text-decoration: none;
      }

      .button-link:hover {
          background-color: #2f3fb0;
      }
  </style>
  <br />
  <hr />
  <br />
  <div>
    <img style="width: 500px; height: 450px; border-radius: 13px;"
         src="https://nest-public-avatar.s3.eu-central-1.amazonaws.com/Screenshot+2023-04-14+at+18.55.50.png"
         alt="inctagram">
  </div>
</div>